.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px double;
    border-radius: 5px;
    background-color: darkgrey;
    width:60%;
    margin-left: 20%;
    height: 80px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}