<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="login-container">
        <div class="logo"></div>
        <h1 class="font-weight-bold py-3">Welcome to Admin <br />Login-Page</h1>
        <p><b>Please Sign In To Continue:</b></p>
        <div
          id="g_id_onload"
          data-client_id="159479957223-qka39ssrtraeilbuhv0a5r07sn43oemq.apps.googleusercontent.com"
          data-context="signin"
          data-ux_mode="popup"
          data-callback="getToken"
          data-auto_prompt="false"
        ></div>

        <div
          class="g_id_signin"
          data-type="standard"
          data-shape="pill"
          data-theme="outline"
          data-text="signin_with"
          data-size="medium"
          data-logo_alignment="left"
        ></div>
      </div>
    </div>
  </div>
</div>
