.add-form {
    width: 50%;
    margin-left: 25%;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 40px;
}

.add-form>h3 {
    text-align: center;
    text-transform: capitalize;
    color: blue;
}

.form-control-check label {
    margin-right: 10px;
    display: flex;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    margin-left: 10%;
    width: 80%;

}

.name {
    display: flex;
    justify-content: space-between;
}

.name .form-control {

    margin-right: 10px;
}
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import "~bootstrap/dist/css/bootstrap.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.form-control {
    margin: 20px 0;
}

.form-control label {
    display: inline;
}

.form-control input {
    width: 90%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
    border-radius: 5px;
}

.form-control select {
    width: 30%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
    border-radius: 5px;
}

.form-control-check input {
    height: 20px;
}