.container-fluid>span {
    color: wheat;
    font-size: xx-large;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px double;
    border-radius: 5px;
    background-color: darkgrey;
    width: 60%;
    margin-left: 20%;
    height: 80px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.select-select{
    background-color: #000397;
    color: wheat;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
table {
     width: 80%;
     margin-left: 10%;
 }

 .access {
     position: relative;
     color: #000;
     padding: 15px;
 }

 .not {
     position: relative;
     color: #000;
     padding: 15px;
 }

 .access div {
     background-color: green;
     position: absolute;
     height: 100%;
     width: 5px;
     top: 0;
     left: 0;
 }

 .not div {
     background-color: red;
     position: absolute;
     height: 100%;
     width: 5px;
     top: 0;
     left: 0;
 }

 #actions {
     text-align: center;
 }